@model UpdateTestimonialDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Referans Girişi</h4>
                        <p class="card-subtitle mb-4">Referans alanına veri girişini aşağıdan yapabilirsiniz.</p>
                        <form method="post">
                            <input type="hidden" asp-for="TestimonialId"/>
                            <div class="form-group">
                                <label for="exampleInputName">Referans Adı ve Soyadı</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Referans Adı ve Soyadı Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputTitle">Referans Unvanı</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Referans Unvanı Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputImageUrl">Referans Görsel</label>
                                <input type="text" class="form-control" id="exampleInputImageUrl" asp-for="ImageUrl" placeholder="Referans Görseli Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputComment">Referans Yorumu</label>
                                <textarea rows="5" class="form-control" asp-for="Comment" placeholder="Referans Yorumu Giriniz"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
















